body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
    
.ok {
    background: #c6ffb8;
    padding: 10px;
    color: green;
    text-align: center;
    border-radius: 6px;
    width: 50%;
    margin: auto;
}

button, .btn-guardar {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background: #0077ff;
    color: white;
    border-radius: 6px;
    margin-top: 5px;
    font-weight: bold;
}
button, .btn-comprar{
    padding: 8px 12pxg;
    cursor: pointer;
    border: none;
    background: #0077ff;
    color: white;
    border-radius: 9px;
    margin-top: 8px;
    font-weight: bold;
}


button:hover, .btn-guardar:hover {
    background: #005fcc;
}
button, .btn-eliminar{
    padding: 8px 12pxg;
    cursor: pointer;
    border: none;
    background: #0077ff;
    color: white;
    border-radius: 9px;
    margin-top: 8px;
    font-weight: bold;
}


button:hover, .btn-eliminar:hover {
    background: #005fcc;
}

.catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.item {
    background: white;
    width: 220px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.carrito-contenedor {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.carrito-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
.item-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.precio {
    font-size: 14px;
    color: #333;
}

.item-controles {
    text-align: right;
}

.cantidad-select {
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.subtotal {
    font-weight: bold;
    margin: 5px 0;
}

.total-final {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
}

.verCarrito, .volver {
    display: inline-block;
    padding: 10px 15px;
    background: black;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.verCarrito:hover, .volver:hover {
    background: #333;
}

.vacio {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 8px;
}